@use '../../style/variables' as *;

.project {
  padding-top: 40px;

  .section-heading {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .project-content {
    padding-bottom: 60px;
  }
}

@media (min-width: ($breakpoint-md + 1px)) {
  .project {
    padding-top: 60px;

    .container {
      width: min(980px, calc(100% - 48px));
      margin: 0 auto;
    }

    .project-content {
      padding-bottom: 80px;
    }
  }
}
