@use '../../style/variables' as *;

.project {
  padding-top: 40px;

  .project-content {
    padding-bottom: 60px;
  }
}

@media (min-width: ($breakpoint-md + 1px)) {
  .project {
    padding-top: 60px;

    .container {
      width: $size-container-width;
      margin: 0 auto;
    }

    .project-content {
      padding-bottom: 80px;
    }
  }
}
