@use 'style/variables' as *;
.earlier-projects { padding: 40px 0 60px; background-color: $gray-bg; color: $text;
  .title { margin: 0 20px 24px; padding-bottom: 12px; border-bottom: 1px solid $border; font-size: 18px; font-weight: 700; }
}
@media (min-width: ($breakpoint-md + 1px)) { .earlier-projects { .container { width: $size-container-width; margin: 0 auto; } .title { margin: 0 0 32px; font-size: 22px; } } }
